[class*='link_type']{

}
/*type 1*/
[class*='link_type1']{
  transition: color .5s;
}
/*/type 1/*/

/*type 2*/
[class*='link_type2']{
  position: relative;
    &:hover{
        &:after{
          visibility: visible;
          transform: scaleX(1);
        }
    }
    &:after{
      content: '\2588';
      line-height: 0;
      font-size: 100vw;
      color: inherit;
      overflow: hidden;
      font-style: normal;
      display: block;
      position: absolute;
      height: 1px;
      width: 100%;
      left: 0;
      bottom: 0;
      visibility: hidden;
      transition: all 150ms ease;
      transform: scaleX(0);
    }
}
/*/type 2/*/
