.animate1-trigger{

    &:hover{

        .animate1-el_visivle{
          opacity:0;
        }
        .animate1-el_hidden{
          opacity: 1;
        }
    }
}
.animate1-container{
  position: relative;
  align-items: flex-start;
}
  .animate1-el_visivle{
    transition:opacity 1s;
  }
  .animate1-el_hidden{
    transition:opacity 1s;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
  }
