/*flex-wrap*/
[class*='_wrap']{
  flex-wrap:wrap;
}
[class*='_nowrap']{
  flex-wrap:nowrap;
}
[class*='_wrap']{
  flex-wrap:wrap;
}
[class*='_reverse-wrap']{
  flex-wrap:wrap-reverse;
}
/*flex-shrink*/
[class*='_shrink0']{
  flex-shrink:0;
}
